@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif !important;
}

body{
    background-image: linear-gradient(to right bottom, #5912b5, #5619a8, #531e9b, #50228e, #4d2581) !important;
    background: no-repeat;
}


* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #50228e;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
*::selection {
    background: #fff;
    color: #5912b5;
}