#git_projects{
    color: #fff;
    margin: 150px 0px ;
}

#git_projects h2{
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: -60px; 
}

#git_projects .git-details{
    display: flex;
    align-items: center;
}

#git_projects .git-details p{
    display: block;
    font-size: 20px;
}

#git_projects .git-details h3{
    margin: 30px 0px;
    font-size: 35px;
    font-weight: bold;
}

#git_projects .git-details p label{
    font-weight: bold;
}

#git_projects .git_gif_project{
    width: 100%;
}

#git_projects .git-card p:first-child{
    font-size: 40px;
    text-align: center;
    transition: all 0.4s ease;
}

#git_projects .git-card p:first-child:hover{
    font-size: 50px;
    transition: all 0.4s ease;
}

#git_projects .git-card p:last-child{
    font-size: 20px;
    text-align: center;
}

#git_projects .git-card p a{
    text-decoration: none;
    color: #fff;
}